*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}
body{

 padding: 0px;
    background-color: rgba(242, 233, 189, 0.996) ;
}
nav{
    padding: 5px;
}
.navbar{
    margin: 30px 50px 30px 50px;
    border-radius: 10px;
    display: flex;
    border-bottom: 1px solid rgb(218, 180, 106);
    border-right: 1px solid rgb(218, 180, 106);
    box-shadow: 5px 5px 10px rgba(217, 183, 98, 0.793);
    background-color: rgba(242, 233, 189, 0.601) ;
    backdrop-filter: blur(10px);
}

.content{
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    gap: 15px;
    margin: 50px 0px 50px 0px;
    color: rgb(132, 78, 27);
}
.navbar-brand img{
    width: 30px;
    height: 30px;
    border-radius: 12px;
}
.navbar-brand a{
    font-weight: 700;
}
.welcome{
    text-wrap: wrap;
    color: rgb(132, 78, 27);
    margin: 20px 0px 50px 0px;
    letter-spacing: 1px;

}
.btn{
    color: rgb(223, 183, 25);
    border-radius: 10px;
}
.btn:hover{
    color: rgb(48, 23, 3);
        border: 1px solid rgb(226, 144, 43);

}
.navbar a{
    text-decoration: none;
    color: rgb(48, 23, 3);
}
.navbar a:hover{
    color: rgb(226, 134, 36);
}
.carousel-item img{
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
}
.container-fluid{
    margin-top:150px;
}
.category{
    margin-top:150px;
    
}

.carousel-caption{
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 20px;
    top: 30%;
    align-content: center;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
.carousel-caption h1{
    overflow: hidden;
    font-size: 3rem;
    color: rgb(56, 26, 1);
    font-weight: 700;
}
.carousel-caption p{
    font-size: 1.5rem;
    color: rgb(91, 42, 2);
    font-weight: 300;
}
.carousel-btn{
    background-color: rgba(225, 132, 19, 0.775);
    border: 1px solid rgb(119, 67, 2);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
}
.carousel-btn a{
    text-decoration: none;
    color: rgb(252, 251, 251);
    font-weight: 700;
}
.search-box {
    display: flex;
    max-width: 540px;
    align-items: center;
    margin: 10px auto;
    background: var(--paper);
    border: none;
    box-shadow: 0 12px 28px rgba(192, 179, 103, 0.745);
}

.search-box input {
    flex: 1;
    max-width: 90%;
    padding: 12px;
    border: 0;
    outline: 0;
    color: var(--ink);
    border-radius: 5px 0 0 5px;
    font: 500 .93rem 'DM Sans', sans-serif;
}

.search-box input::placeholder {
    color: #775e1a;
}

.search-box button {
    padding: 10px;
    border: 0;
    background: white;
    border-radius: 0 5px 5px 0;
    color: rgb(123, 89, 3);
    font-weight: 500;
}
.search-box button:hover {
    background: rgb(253, 182, 90);
}
.card{
    height: 400px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px rgba(217, 183, 98, 0.793);
    background-color: rgba(249, 223, 177, 0.891) ;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
}
.card img{
    height: 200px;
    object-fit: cover;
}
footer{
    background-color: rgba(151, 118, 41, 0.602) ;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}
